<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Taco Cloud Application</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
<h1>Prepare your own TACO !</h1>
<img th:src="@{/images/TacoCloud.png}"/>
<form method="post" th:object="${design}">
    <div class="grid">
        <div class="ingredient-group" id="wraps">
            <h3>Choose type of wrap:</h3>
            <div th:each="ingredient : ${wrap}">
                <input name="ingredients" type="checkbox" th:value="${ingredient.id}"/>
                <span th:text="${ingredient.name}">SKŁADNIK</span>
                <br>
            </div>
        </div>
        <div th:class="ingredient-group" id="veggies">
            <h3>Choose vegetables: </h3>
            <div th:each="ingredient: ${veggies}">
                <input name="ingredients" type="checkbox" th:value="${ingredient.id}"/>
                <span th:text="${ingredient.name}">SKŁADNIK</span>
                <br>
            </div>
        </div>
        <div th:class="ingredient-group" id="sauce">
            <h3>Choose sauce: </h3>
            <div th:each="ingredient: ${sauce}">
                <input name="ingredients" type="checkbox" th:value="${ingredient.id}"/>
                <span th:text="${ingredient.name}">SKŁADNIK</span>
                <br>
            </div>
        </div>
    </div>
    <div>-
        <h3>Name your TACO:</h3>
        <input type="text" th:field="*{name}"/>
        <br/>
        <button>Send your order</button>
    </div>
</form>
</body>
</html>